.gitignore
indexes
target
*.DS_store
*.iml
*.ids
*.iws
*.eml
*.userlibraries
.idea
.classpath
.project
.classpath
*/.classpath
*/.project
.settings
*.ips
*.ipr
build
out
integrationtestsClasses
luc
generated
test-output
version.dat
logs
*.rar
*indexes
com.maktashaf.taymiyyah.domain.Quran
#git update-index --assume-unchanged 

